.form-control::-moz-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  
  .form-control:-moz-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  
  .form-control::-webkit-input-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  
  .form-control:-ms-input-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  
  .form-control {
    background-color: transparent;
    border: 0.15rem solid $primary;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.8571em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .form-control:focus {
    border: 0.15rem solid $primary;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #2c2c2c;
  }
  
  .form-control:focus+.input-group-text,
  .form-control:focus~.input-group-text {
    border: 0.15rem solid $primary;
    border-left: none;
    background-color: transparent;
  }
  
  .input-group.no-border .form-control {
    padding: 11px 19px;
  }
  
  .input-group.no-border .form-control+.input-group-text {
    padding: 11px 19px 11px 0;
  }
  
  .input-group.no-border .input-group-text {
    padding: 11px 0 11px 19px;
  }
  
  .input-group .form-control {
    padding: 10px 18px 10px 18px;
  }
  
  .input-group .form-control+.input-group-text {
    padding: 10px 18px 10px 0;
  }
  
  .input-group .input-group-text {
    padding: 10px 0 10px 18px;
  }
  
  .input-group .input-group-text+.form-control,
  .input-group .input-group-text~.form-control {
    padding: 10px 19px 11px 16px;
  }
  
  .input-group.no-border .form-control,
  .input-group.no-border .form-control+.input-group-text {
    background-color: rgba(222, 222, 222, 0.3);
    border: medium none;
  }
  
  .input-group.no-border .form-control:focus,
  .input-group.no-border .form-control:active,
  .input-group.no-border .form-control:active,
  .input-group.no-border .form-control+.input-group-text:focus,
  .input-group.no-border .form-control+.input-group-text:active,
  .input-group.no-border .form-control+.input-group-text:active {
    border: medium none;
    background-color: rgba(222, 222, 222, 0.5);
  }
  
  .input-group.no-border .form-control:focus+.input-group-text {
    background-color: rgba(222, 222, 222, 0.5);
  }
  
  .input-group.no-border .input-group-prepend .input-group-text {
    background-color: rgba(222, 222, 222, 0.3);
    border: none;
    border-left: transparent !important;
  }
  
  .input-group-text {
    background-color: #FFFFFF;
    border: 0.15rem solid $primary;
    border-radius: 30px;
    color: #555555;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .input-group-text+.form-control,
  .input-group-text~.form-control {
    padding: -0.5rem 0.7rem;
    padding-left: 18px;
  }
  
  .input-group-text i {
    width: 17px;
  }
  
  .input-group {
    margin-bottom: 10px;
    position: relative;
  }
  
  .input-group[disabled] .input-group-text {
    background-color: #E3E3E3;
  }
  
  .input-group .input-group-prepend {
    margin-right: 0;
  }
  
  .input-group .input-group-prepend .input-group-text {
    border-left: 1px solid #E3E3E3;
  }
  
  .input-group .form-control:first-child,
  .input-group-text:first-child {
    border-right: 0 none;
  }
  
  .input-group .form-control:last-child,
  .input-group-text:last-child {
    border-left: 0 none;
  }
  
  .form-control[disabled],
  .form-control[readonly] {
    background-color: #E3E3E3;
    color: #888888;
    cursor: not-allowed;
  }

