@import "mixins";

// subrayado en los nav-items
.nav-item::after {
    @include after-guapo(white, 2px)
}

.nav-item:hover::after {
    @include after-hover-guapo;
}

//divider
.divider {
    width: 0;
    border-right: 1px solid $primary;
    height: 1rem;
    margin: auto 1rem;
}