@import "variables";
@import "mixins";

/* nav links */
.nav-link {
    font-size: 1rem;
} 
.nav-link::after {
    @include after-guapo($primary, 3px);
}

.nav-link:hover::after {
    @include after-hover-guapo;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: $primary;
    font-weight: 600;
}

.nav-link.active::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: $primary;
    margin: auto;
    display: block;
}


/* session links */
.session-link {
    text-decoration:none;
    color: grey;
}

.session-link:hover {
    color: grey;
}

.session-link::after {
    @include after-guapo(grey, 1px);
}

.session-link:hover::after {
    @include after-hover-guapo;
}

/* session links */
.divider {
    width: 0;
    border-right: 1px solid grey;
    height: 1rem;
    margin: auto 1rem;
}